@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
}

:root {
    --primary-color : #0d0155;
    --secondary-color : #4046a1;
}

body{
    background-color: var(--primary-color);
    margin: 0;
}

header{
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
}

.heading h1 {
    margin-left: 60px;
    color: white;
    font-family: 'Kanit', sans-serif;
}

input {
    margin-right: 60px;
}

.search {
    border: 2px solid var(--secondary-color);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.search:focus{
    outline: 0;
}

.search::placeholder{
    color: #7378c5;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 50px;
}

.movie{
    top: 30px;
    width: 250px;
    margin: 1rem;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.movie img{
    width: 100%;
}

.overview{
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 1rem;
    max-height: 100%;
    transform: translateX(101%);
    transition: transform 0.3s ease-in;
    font-size: 0.8rem;
}

.movie:hover .overview{
    transform: translateX(0);
}